@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
:root {
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --font-padrao: Arial, Verdana, Helvetica, Sans-serif;
    --font-destaque: 'Bebas Neue', 'cursive';
    --font-android: 'android', 'cursive';
}

* {
    margin: 0px;
    padding: 0px;
}


body{
    background-color: var(--cor1);
    font-family: var(--font-padrao);
}

a.externo::after {
    content: '\00A0\1f517';
}



main h1{
    color: var(--cor5);
    font-family: var(--font-android);
    font-size: 1.8em;
}

main h2{
    color: var(--cor4);
    font-size: 1.3em;
    font-family: var(--font-android);
    text-indent: 8px;
    background-image: linear-gradient(to right, var(--cor1), transparent);
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong{
    color: var(--cor5);
    font-weight: bolder;
}

main a{
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor1);
    color: var(--cor4);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

div.video{
    background-image: linear-gradient(to top, var(--cor5), var(--cor3));
    position: relative;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 61%;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 2%;
    height: 90%;
    width: 96%;
}

header{
    background-image: linear-gradient(to top, var(--cor5), var(--cor3)); 
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--font-destaque);
    font-size: 3em;
    margin-bottom: 20px;  
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

header > p{
    color:white;
    font-family: var(--font-padrao);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

nav{
    background-color: var(--cor5);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    padding: 10px;
}

nav > a{
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    font-weight: bolder;
    text-decoration: none;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color:var(--cor3);
    color:var(--cor5);
}
main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

main h1{
    color: var(--cor5);
    font-family: var(--font-android);
}

main h2{
    font-family: var(--font-android);
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.363);
}

aside >h3{
    color: white;
    background-color: var(--cor4);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside >ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    font-size: 1em;
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 3px;
}